{% extends 'index.html' %}
{% block content %}
<div class="row">
	<form class="col s12" action='/messages' method='post'>
		<div class="row">
			<div class="input-field col s12">
				<textarea name="message" class="materialize-textarea"></textarea>
				<label for="message">Post a message</label>
			</div>
		</div>
		<div class="right-align">
			<button class="btn waves-effect waves-light" type="submit" name="action">Post<i class="material-icons">send</i>
			</button>
		</div>
		{% include 'flash.html' %}
	</form>
</div>
<div class='row'>
	<ul class="collection">
		{% if messages %}
		{% for msg in messages %}
		<li class="collection-item avatar">
			<i class="material-icons circle green">insert_chart</i>
			<span class="title"><b>{{ msg.author }}</b> - {{ msg.created_at.strftime('%B %d, %Y') }}</span>
			<p>{{ msg.message }}</p>
			<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
		</li>
		{% endfor %}
		{% endif %}
	</ul>
</div>
{% endblock %}